/*Fonte Inter*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

:root {
  --background-color: #f3f5fc;
  --primary-color: #0a3871;
  --secondary-color: #495057;
  --terciary-color: #000000;
  --fourth-color: #343a40;
  --primary-font: "Inter", sans-serif;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.header__container__img {
  padding: 7% 0% 0% 0%;
}

.container__content {
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container__content__primary__section {
  width: 90%;
  text-align: start;
  margin-bottom: 64px;
  margin-top: 116px;
}

.container__content__input__container {
  width: 100%;
  height: 700px;
  display: flex;
}

.textarea__primary__content{
  box-sizing: border-box;
  inline-size: min-content;
  overflow-wrap: break-word;
  border: none;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 2rem;
  color: var(--primary-color);
  text-transform: lowercase;
}

textarea:focus {
  outline: none;  
}

#user_text::placeholder {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 2rem;
  color: var(--primary-color);
}

.container__primary__content__info {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 16px;
}

.primary__content__text__info {
  font-family: var(--primary-font);
  font-size: 0.75rem;
  font-weight: 400;
}

.primary__content__container__btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.primary__content__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 343px;
  height: 67px;
  text-align: center;
  border: 1px solid var(--primary-color);
  border-radius: 24px;
  cursor: pointer;
}

.primary__content__btn__text {
  font-family: var(--primary-font);
  font-size: 1rem;
}

#btn__encript {
  background-color: var(--primary-color);
  color: var(--background-color);
  transition: background-color 0.5s ease;
}

#btn__encript:hover {
  background-color: #1558aa;
}

#btn__decript {
  color: var(--primary-color);
  transition: background-color 0.5s ease;
}

#btn__decript:hover {
  background-color: #ccdff5;
}

.container__content__secondary__section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 90%;
    min-height: 168px;
    background-color: white;
    border-radius: 32px;
    filter: drop-shadow(6px 10px 30px rgba(0,0,0,0.2)); 
    padding: 15px;
}

.content__secondary__decripted {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 5% 8%;
    max-width: 100%;
}

#transformed_text{
  max-width: 100%;
  max-height: 100%;
  display: none;
}

.content__secondary__text {
    font-family: var(--primary-font);
    color: var(--fourth-color);
}

.content__secondary__text span {
    font-size: 1.5rem;
    font-weight: bold;
}


.content__secondary__decripted__img {
  margin: 100px 0;
  display: none; 
}

#secondary__content__copy__btn {
    width: 279px;
    display: none;
}

.footer__container {
    width: 100%;
    margin: 20% 0 0 0;
    padding: 5%;
    background-color: var(--primary-color);
}

.footer__container__developed {
    font-family: var(--primary-font);
    color: var(--background-color);
    text-align: center;
}
